USE [master]
GO
/****** Object:  Database [TokoBuku]    Script Date: 16/02/2024 13:35:43 ******/
CREATE DATABASE [TokoBuku]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TokoBuku', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CORNELIUSHW\MSSQL\DATA\TokoBuku.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TokoBuku_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CORNELIUSHW\MSSQL\DATA\TokoBuku_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TokoBuku].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TokoBuku]
GO
/****** Object:  Table [dbo].[DataBuku]    Script Date: 16/02/2024 13:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBuku](
	[Nama] [varchar](50) NULL,
	[Pengarang] [varchar](50) NULL,
	[Harga] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
